@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Contrail+One&display=swap');
@import "tailwindcss";

@theme {
  --font-Andika: "Andika", sans-serif;
  --font-ContrailOne: "Contrail One", system-ui;

  --color-White: #f0edee;
  --color-offWhite50: #FFFD8F80;
  --color-lightGreen: #B0CE88;
  --color-midGreen: #4C763B;
  --color-darkGreen: #043915;
  --color-Main1: #212121;
  --color-Wasabi: #8980f5;
  --color-Wasabi2: #92dce5;
  --color-Wasabi3: #f1e3e4;

  --text-shadow-Main: 
    0 0 5px #8980f5;

  --shadow-Button: 0 3px 5px #ffffff80;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@utility font-ContrailOne{
  font-family: var(--font-ContrailOne--value);
  font-weight: 400;
}

@utility font-Andika{
  font-family: var(--font-Andika);
  font-weight: 700;
}
