.button-top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7mm;
    outline: 2px solid #000000;
    transition: 0.2s;
    z-index: 2;
}
.button-bottom{
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    border-radius: 7mm;
    outline: 2px solid #000000;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}
.main-button{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.main-button:active .button-top{
    transform: translateY(10px);
}
